@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    /* purgecss start ignore */
    .pagination {
        @apply flex items-center justify-between;
    }
    ul.pagination {
        @apply flex font-mono border border-gray-200 rounded;
    }
    .page-link {
        @apply block w-12 py-2 text-sm text-center text-blue-800 bg-white border-r border-gray-200 outline-none dark:bg-gray-600;
    }
    .page-link:last-child {
        @apply border-0;
    }
    .page-link:hover {
        @apply text-white bg-blue-700 border-blue-700;
    }
    .page-item.active .page-link {
        @apply text-white bg-blue-700 border-blue-700;
    }
    .page-item.disabled .page-link {
        @apply text-gray-300 bg-white border-gray-200;
    }
    pre[class*="language-"] {
        --bg-opacity: 1;
        background-color: #2d3748;
        background-color: rgba(45, 55, 72, var(--bg-opacity));
        position: static;
    }

    pre[class*="language-"] {
        overflow: auto;
        position: relative;
        margin: 0.5em 0;
        padding: 1.25em 1em;
    }

    code[class*="language-"],
    pre[class*="language-"] {
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        color: #c3cee3;
        background: #263238;
        font-family: Roboto Mono, monospace;
        font-size: 1em;
        line-height: 1.5em;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
    /* purgecss end ignore */
}
